body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #a5622392;
}

.banner-container {
    position: relative;
    top: 100;
    left: 0;
    width: 100%;
    height: 50vh;
    font-family: 'Caveat', cursive;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    border-radius: 10px;
}

.banner-container {
    font-family: 'Caveat', cursive;
    position: relative;
}

.banner-container .banner-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.banner-container.homepage-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.banner-container.homepage-banner .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.banner-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
    backdrop-filter: blur(5px); 
    background-color: rgba(245, 204, 150, 0.697); 
    padding: 20px; 
    border-radius: 20px;
}

h1 {
    font-size: 100px;
    margin-top: 20px;
    color: #563c2b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    padding: 10px;
    font-family: 'Caveat', cursive;
}

p {
    font-size: 20px;
    margin-top: 15px;
    color: #3e2723;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    background-color: #fffde7;
    padding: 10px;
    border-radius: 10px;
}

.menu-item-name {
    display: inline-block;
    margin-right: 50px;
    font-family: 'Caveat', sans-serif;
}

.menu-price {
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Arial', sans-serif;
}

.nav-item.menu-nav-item {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #8c5021;
    color: white;
    border-radius: 20px;
    margin: 0 5px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.nav-item {
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px 15px;
    background-color: #8c5021;
    color: white;
    border-radius: 20px;
    margin: 0 5px;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-item:hover {
    background-color: #634532;
    cursor: pointer;
    transform: scale(1.1);
}

.menu-container {
    font-family: 'Caveat', cursive;
    text-align: center;
    padding: 1px;
}



.menu h2 {
    font-size: 50px;
    margin-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
}


.menu-items {
    list-style-type: none;
    font-family: 'Caveat', cursive;
    padding: 0;
}


.menu-items li:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.menu-price {
    font-size: 25px;
    color: #3e2723;
    font-family: 'Caveat', cursive;
}

.coffee-menu {
    display: inline-block; 
    margin: 10px; 
}

.tea-menu {
    display: inline-block; 
    margin: 10px;
}



.coffee-menu {
    display: inline-block;
    margin: 100px;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ceb8a3;
    font-family: 'Caveat', cursive;
}

.tea-menu {
    display: inline-block;
    margin: 100px; 
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ceb8a3;
    font-family: 'Caveat', cursive;
}

.menu-container h1 {
    font-family: 'Caveat', cursive;
}
